* {
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: inherit;
}

body {
	width: 100%;
	margin: 0;
}


					/* HOME PAGE CONTAINER */
.container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family: 'Marvel', Arial, sans-serif;
}
					/* NAV BAR */
#navbar {
  width: 100%;
  position: fixed;
  top: 47px;
  left: 0px;
  cursor: pointer;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 1.5px;
  text-align: center;
  z-index: 10;
  color: #fff;
}

nav ul {
  width: 100%;
  display: flex;
  background-color: #404e9c;
  padding-left: 0;
}

nav li {
  width: 20%;
  position: relative;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

li:hover {
	background: #343f7f;
}

.button {
    display: none;
}

/*.main-nav {
            display: none;
        }*/


					/* TAB BAR TRIANGLE */
/*nav li:hover:before {
	top: 100%;
	border: solid transparent;
	content: '';
	position: absolute;
	pointer-events: none;
	border-bottom-color: #343f7f;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
	-webkit-transform: translateY(0%) rotate(140deg);
	-moz-transform: translateY(0%) rotate(140deg);
	-o-transform: translateY(0%) rotate(140deg);
	-ms-transform: translateY(0%) rotate(140deg);
	transform: translateY(0%) rotate(180deg);
}*/

li .active:before  {
	top: 100%;
	border: solid transparent;
	content: '';
	position: absolute;
	pointer-events: none;
	border-bottom-color: #404e9c;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
	-webkit-transform: translateY(0%) rotate(140deg);
	-moz-transform: translateY(0%) rotate(140deg);
	-o-transform: translateY(0%) rotate(140deg);
	-ms-transform: translateY(0%) rotate(140deg);
	transform: translateY(0%) rotate(180deg);
}

.block {
	width: 100%;
	height: 25px;
	position: absolute;
	top: 105px;
	left: 0;
	background-color: #fff;
	z-index: 1;
}

							/* RESPONSIVE */

@media screen and (max-width: 740px) {
	li a {
		font-size: 16px;
	}
}

@media screen and (max-width: 450px) {
	li a {
		font-size: 17.5px;
		letter-spacing: 1.3px;
		line-height: 2.3em;
		text-transform: uppercase;
	} ul {
		display: flex;
		flex-direction: column;
		align-items: center;
	} a {
		display: block;
	} .button {
		display: block;
		font-size: 25px;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 5px;
	} li {
			display: none;
	}
}

@media screen and (min-width: 450px) {
	li { 
	display: block !important }
}

							/* HOME PAGE */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-content {
    position: relative; 
    cursor: none;
    color: white;
    text-align: center;
    margin: 0.625rem;
    z-index: 0;
}

.hero-title {
    font-family: 'Roboto', Open Sans, sans-serif;
    color: #ffa31a;
    text-shadow: 2px 2px;
    font-size: 100px;
    font-weight: 800;
    margin-top: -130px;
    letter-spacing: 2px;
    text-transform: uppercase;
   /* transform: translateY(-1000px);
    animation: 1.2s slideDown ease-in-out forwards 1s;*/
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    line-height: 1em;
}

.hero-subtitle {
	position: relative;
	top: 200px;
	font-family: 'Segoe UI', Roboto, Open Sans, sans-serif;
	font-size: 35px;
	font-weight: 200;
	letter-spacing: 2px;
/*	-webkit-animation: mainFadeIn 2s forwards;
	-o-animation: mainFadeIn 2s forwards;
	animation: mainFadeIn 2s forwards;
	animation-delay: 2.5s;
	opacity: 0;*/
}
    
 /* @keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/

/*@keyframes slideDown {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}*/

/*@media screen and (max-width: 740px) {
	.hero {
		width: 100%;
		height: 480px;
	}
}

@media screen and (max-width: 500px) {
	.hero {
		width: 100%;
		height: 100vh;
	}
}*/

					/*LOWER TEXT ONTO PAGE */

					/* FINISHED */



					 /* HOME PG - FIXED LOGO & EMAIL SECTION */ 
#fixed {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 9;
}

.logo {
	position: absolute;
	top: 5%;
	left: 2%;
	color: black;
}

.email {
	position: absolute;
	top: 5%;
	right: 2%;
	color: black;
}

							/* RESPONSIVE */

@media screen and (min-width: 1800px) {
	.hero-title {
		font-size: 125px;
	} .hero-subtitle {
		font-size: 45px;
	}
}

@media screen and (max-width: 745px) {
	.hero {
		width: 100%;
		height: 500px; 
	} .hero-title {
		font-size: 65px;
    	border-top: 2px solid white;
    	border-bottom: 2px solid white;
    	margin-top: -60px;
    	text-shadow: none;
	} .hero-subtitle {
		position: relative;
		top: 134px;
		font-size: 20px;
	}
}

@media screen and (max-width: 420px) {
	.hero {
		height: 100vh;
	} .hero-title {
		font-size: 35px;
		margin-top: -74px;
		padding: 4px 0px;
    	text-shadow: none;
	} .hero-subtitle {
		font-size: 20px;
		font-weight: 400;
		position: relative;
		top: 203px;
	}
}

						/* ABOUT ME */

.about-me {
	width: 100%;
	height: 100%;
	margin-top: 30px;
	font-size: 20px;
	letter-spacing: 1.5px;
	color: #404e9c;
	background: url("../images/banner-two.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.aboutme-text p {
	width: 550px;
	height: auto;
	padding: 40px;
	margin-top: 36px;
	margin-left: 200px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	line-height: 1.4em;
}

.quotation {
	position: relative;
	top: 76px;
	left: 211px;
}

.quotation-one {
	position: relative;
	top: -55px;
	left: 700px;
	transform: rotate(180deg);
}



					/* ALIGN PAGE LINKS INTO PLACE */
#about-me::before { 
  display: block; 
  content: " "; 
  margin-top: -100px; 
  height: 100px; 
  visibility: hidden; 
  pointer-events: none;
}
					/* END */

@media screen and (max-width: 770px) {
	.about-me {
		height: 500px;
	} .quotation,
	.quotation-one {
		width: 37px;
		height: 26px;
	}
}

@media screen and (max-width: 440px) {
	.about-me {
		background: #29B2DF;
		height: 450px;
		margin-top: 0;
	}.aboutme-text p {
		width: 100%;
		height: 300px;
		font-size: 17.5px;
		margin-top: 0px;
		margin-left: 10px;
		margin-right: 10px;
		padding: 40px 10px;
		line-height: 1.5em;
		letter-spacing: 1.3px;
	} .quotation {
		position: relative;
		top: 41px;
		left: 17px;
	} .quotation-one {
		position: relative;
		top: -55px;
		left: 279px;
	} .title {
		margin-top: 0;
	}
}
	
	




						/* SERVICES PAGE */

#services {
	margin-top: 80px;
}

.row {
	width: 100%;
	height: auto;
	margin: 0;
	color: #404e9c;
	/*text-shadow: 1px 1px 1px rgba(151,24,64,0.2);*/
	font-size: 17.5px;
	text-align: center;
	line-height: 1.5em;
	letter-spacing: 1.3px;
	display: block;
}

.column-one,
.column-two,
.column-three {
	width: 33.33%;
	float: left;
	display: block;
	margin-bottom: 42px;
}

.column-one h2,
.column-two h2,
.column-three h2 {
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 8px;
	margin-top: 3px;
}

.column-one p,
.column-two p,
.column-three p {
	padding: 20px 10px 10px 10px;
	margin: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-one img {
	width: 100%;
	height: auto;
	padding-left: 10px;
}

.column-two img {
	width: 100%;
	height: auto;
	padding-left: 5px;
	padding-right: 5px;
}

.column-three img {
	width: 100%;
	height: auto;
	padding-right: 10px;
}

.background-des {
	height: 270px;
	background-color: #404e9c;
	color: #fff;
}

.background-res {
	height: 270px;
	background-color: #343f7f;
	color: #fff;
}

.background-old {
	height: 270px;
	background-color: #252d5b;
	color: #fff;
}

.background-des:hover,
.background-res:hover,
.background-old:hover {
	background-color: #fff;
	color: black; 
  	box-shadow: 0 15px 25px -25px #1F1F46;
  	transform: translateY(20px);
}


button {
	font-family: 'Marvel', Arial, sans-serif;
	font-size: 17.5px;
	font-weight: 600;
	letter-spacing: 2px;
	margin-top: 27px;
	padding: 5px;
	text-decoration: none;
	background-color: #fff;
	color: #404e9c;
	border: 2px solid #404e9c;
}

.column-one:hover > h2,
.column-two:hover > h2,
.column-three:hover > h2 {
        animation-name: bounce;
        animation-duration: 1s;
        animation-iteration-count: 1;
}

.simple-header {
	width: 98%;
	font-size: 28px;
	letter-spacing: 0.8px;
	color: #404e9c;
	text-transform: uppercase;
	position: relative;
	top: 0px;
	left: 10px;
	border-top: 2px solid #404e9c;
	padding-top: 15px; 
}

@keyframes bounce {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-25px); }
        100% { transform: translateY(0); }
    }


@media screen and (max-width: 1100px) {
	.background-des, .background-res, .background-old {
		height: 375px;
	} .column-one p, .column-two p, .column-three p {
		padding-top: 10px;
	}
}

@media screen and (max-width: 998px) {
	.column-one h2, .column-two h2, .column-three h2 {
		font-size: 22px;
		font-weight: 800;
		letter-spacing: 0.5px;
		margin-bottom: 8px;
		margin-top: 3px;
		}
	}

@media screen and (max-width: 786px) {
	.column-one h2, .column-two h2, .column-three h2 {
		font-size: 21px;
		font-weight: 800;
		letter-spacing: 0.5px;
		margin-bottom: 8px;
		margin-top: 3px;
	}
}

@media screen and (max-width: 750px) {
	.column-one, .column-two, .column-three {
		width: 100%;
		float: none;
	} .column-one img, .column-two img, .column-three img {
		width: 100%;
		padding: 0;
	} .background-des, .background-res, .background-old {
		height: auto;
	} button {
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 420px) {
	.column-one h2, .column-two h2, .column-three h2 {
		letter-spacing: 1px;
		text-transform: uppercase;
	} .column-one, .column-two, .column-three {
		margin-bottom: 25px;
	} .simple-header {
		width: 95%;
		font-size: 21px;
	}
}

								/* FIVE STEP PLAN */

.process-container {
	width: 100%;
	height: auto;
	margin-top: 105px;
}

.plan-column,
.design-column,
.develope-column,
.test-column,
.maintain-column {
	width: 20%;
	float: left;
	padding: 10px;
	text-align: left;
}

.fade-up {
	opacity: 1;
	margin-top: 0px;
}

.fade-down {
	opacity: 1;
	margin-top: -80px;
}

.plan-column:hover > .number-style-one,
.design-column:hover > .number-style-two,
.develope-column:hover > .number-style-three,
.test-column:hover > .number-style-four,
.maintain-column:hover > .number-style-five {
	color: #404e9c;
}

.plan-column h2,
.design-column h2,
.develope-column h2,
.test-column h2,
.maintain-column h2 {
	position: relative;
	font-size: 28px;
	padding-top: 7px; 
	background-color: #fff;
	/*text-transform: uppercase;*/
}

.number-style-one,
.number-style-two,
.number-style-three,
.number-style-four,
.number-style-five  {
	font-family: 'Roboto', Open Sans, sans-serif;
	position: relative;
	font-size: 61px;
	font-weight: bold;
	text-align: center;
	color: red;
}

.number-style-one {
	animation: jumpone 2s ease 15s 1;
}

.number-style-two {
	animation: jumpone 2s ease 16s 1;
}

.number-style-three {
	animation: jumpone 2s ease 17s 1;
}

.number-style-four {
	animation: jumpone 2s ease 18s 1;
}
 
.number-style-five {
	animation: jumpone 2s ease 19s 1;
}

    @keyframes jumpone {
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-100px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
    }

#services::before { 
  display: block; 
  content: " "; 
  margin-top: -39px; 
  height: 61px; 
  visibility: hidden; 
  pointer-events: none;
}
							/* SCREEN RESPONSIVE */

@media screen and (max-width: 770px) {
	.plan-column,
	.design-column,
	.develope-column,
	.test-column,
	.maintain-column {
		width: 100%;
		margin: 0;
		float: none;
		text-align: center;
	} .process-container {
		margin-top: 32px;
	}
}

@media screen and (max-width: 450px) {
	.process-container h2 {
		font-size: 21px;
		text-transform: uppercase;
	} .number-style {
		top: 55px;
	}
}
						/* SCREEN RESPONSIVE END */

					
								/* PORTFOLIO PAGE */

.title {
  text-transform: uppercase;
  color: #404e9c;
  font-size: 28px;
  letter-spacing: 0.8px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.slideshow-container {
	width: 100%;
	height: auto;
	background-color: #fff;
	text-align: center;
}

.dot {
	position: static;
	color: black;
	z-index: 1;
	width: 55px;
	height: 55px;
	opacity: 1;
	text-align: center;
}

.active {
  background-color: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

#portfolio::before { 
  display: block; 
  content: " "; 
  margin-top: -100px; 
  height: 100px; 
  visibility: hidden; 
  pointer-events: none;
}

@media screen and (max-width: 770px) {
	.slideshow-container {
		width: 100%;
		height: auto;
		text-align: center;
		margin: 0;
	} img {
		width: 100%;
		height: auto;
		align-items: center;
	}
}

@media screen and (max-width: 440px) {
	.title {
		font-size: 24px;
	}
}

								/* CONTACT PAGE */

.contact-container {
	background: linear-gradient(to bottom,#132d50 0,#1b2836 100%);
}

.contact-title {
	opacity: 0;
}

.contact-column,
.thank-you-column {
	width: 50%;
	height: auto;
	float: left;
}

.contact-form {
	border: 2px solid white;
}

.thank-you-column p {
	color: #fff;
	text-align: left;
	margin: 0px 100px;
	letter-spacing: 3px;
	line-height: 1.6em;
}

.thank-you-title {
	font-size: 40px;
	font-weight: bold;
}

#submitted-message {
	width: 100%;
	height: 100px;
	text-align: left;
	margin: 100px;
	font-size: 25px;
	color: orange;
	text-transform: uppercase;
	line-height: 1.4em;
	display: none;
}


form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input,
textarea {
	width: 300px;
	margin: 15px 0px;
	padding: 8px;
	border-radius: 10px;
	display: block;
	border: 5px solid transparent;
}

input[type=submit] {
	background-color: blue;
	color: #fff;
}

input[type=submit]:focus {
	border: 5px solid #fff;
}

textarea:focus, input:focus {
	border: 5px solid blue;
}


@media screen and (max-width: 750px) {
	#submitted-message {
		font-size: 20px;
		color: orange;
	}
}
@media screen and (max-width: 440px) {
	.contact-column,
	.thank-you-column {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	} .thank-you-column p {
		margin: 10px 15px 35px 15px;
		font-size: 17.5px;
		text-align: center;
	} .thank-you-title {
		font-size: 28px;
	} #submitted-message {
		font-size: 18px;
		margin: 0px 0px -55px;
		text-align: center;
		font-weight: bold;
	}
}

#contact::before { 
  display: block; 
  content: " "; 
  margin-top: -110px; 
  height: 110px; 
  visibility: hidden; 
  pointer-events: none;
}
								/* FOOTER */

footer {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.css-logo {
	width: 200px;
	height: 200px;
}

.back-to-top {
	width: 200px;
	height: 42px;
	background: #1b2836;
	position: relative;
	top: 2px;
	left: 45%;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 2em;
	letter-spacing: 3.5px;
	border-radius: 0px 0px 10px 10px;
}

.designer {
	width: 400px;
	height: auto;
	display: flex;
	justify-content: flex-end;
	text-align: center;
}

.designer a {
	position: relative;
	top: 85px;
	right: 168px;
	width: 85px;
	height: 85px;

}

.logo-design {
	width: 400px;
	height: 100%;
}

.copyright {
	width: 100%;
	height: auto;
	bottom: 5px;
	text-align: center;
	letter-spacing: 3.5px;
}

@media screen and (max-width: 770px) {
	footer {
		flex-direction: column;
		align-items: center;
		font-size: 17.5px;
		margin: 0px;
	} .back-to-top {
		position: static;
		margin-bottom: 20px;
		margin-top: 2px;
	} .logo-design {
		text-align: center;
		align-items: center;
	} .css-logo {
		width: 150px;
		height: 150px;
	} .designer {
		width: 95%;
	} .copyright {
		position: relative;
		top: 135px;
		margin: 0px;
		font-size: 15px;
		width: 80%;
	}
}






