* {
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: inherit;
}

body {
	width: 100%;
	margin: 0;
}


					/* EACH IND PAGE */
.container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family: 'Marvel', Arial, sans-serif;
}
					/* NAV BAR */
.container > input,
.container > a {
	position: fixed;
	top: 70px;
	width: 20%;
	cursor: pointer;
	text-decoration: none;
	font-size: 22px;
	height: 34px;
	line-height: 34px;
	letter-spacing: 1.5px;
}

.container > input {
	opacity: 0;
	z-index: 1000;
}

.container > a {
	z-index: 10;
	font-weight: 595;
	background-color: #404e9c;
	color: #fff;
	text-align: center;
}

/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
/*.st-container:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 100px;
	background: #e23a6e;
	z-index: 9;
	top: 0;
	opacity: 0;
}*/

#st-control-1, #st-control-1 + a {
	left: 0;
}

#st-control-2, #st-control-2 + a {
	left: 20%;
}

#st-control-3, #st-control-3 + a {
	left: 40%;
}

#st-control-4, #st-control-4 + a {
	left: 60%;
}

#st-control-5, #st-control-5 + a {
	left: 80%;
}

.container > input:checked + a,
.container > input:checked:hover + a{
	background-color: #252d5b;
}

					/* TAB BAR TRIANGLE */
.container > input:checked + a:after,
.container > input:checked:hover + a:after{
	top: 100%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #252d5b;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
	-webkit-transform: translateY(0%) rotate(140deg);
	-moz-transform: translateY(0%) rotate(140deg);
	-o-transform: translateY(0%) rotate(140deg);
	-ms-transform: translateY(0%) rotate(140deg);
	transform: translateY(0%) rotate(180deg);
}

.container > input:hover + a{
	background: #343f7f;
}

.block {
	width: 100%;
	height: 25px;
	position: absolute;
	top: 105px;
	left: 0;
	background-color: #fff;
	z-index: 1;
}

					/* IND SCREEN SIZE */
/*.st-scroll,
.st-panel {
	position: relative;
	width: 100%;
	height: 100%;
}*/
					/* SCREEN SCROLL */
/*.st-scroll {
	top: 0;
	left: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}*/
					
/*.st-panel{
	background: #fff;
	overflow: hidden;
} */

/*#st-control-1:checked ~ .st-scroll {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll {
	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
}
#st-control-5:checked ~ .st-scroll {
	-webkit-transform: translateY(-400%);
	-moz-transform: translateY(-400%);
	-o-transform: translateY(-400%);
	-ms-transform: translateY(-400%);
	transform: translateY(-400%);
}*/

							/* RESPONSIVE */

@media screen and (max-width: 740px) {
	.container > a {
		font-size: 16px;
	}
}

@media screen and (max-width: 450px) {
	.container > a {
		font-size: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}


					/*HOME PAGE - TYPEWRITTER TEXT */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-content {
    position: relative; 
    cursor: none;
    color: white;
    text-align: center;
    margin: 0.625rem;
    z-index: 0;
}

.hero-title {
    font-family: 'Roboto', Open Sans, sans-serif;
    color: #ffa31a;
    text-shadow: 2px 2px;
    font-size: 100px;
    font-weight: 800;
    margin-top: -130px;
    letter-spacing: 2px;
    text-transform: uppercase;
   /* transform: translateY(-1000px);
    animation: 1.2s slideDown ease-in-out forwards 1s;*/
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    line-height: 1em;
}

.hero-subtitle {
	position: relative;
	top: 200px;
	font-family: 'Segoe UI', Roboto, Open Sans, sans-serif;
	font-size: 35px;
	font-weight: 200;
	letter-spacing: 2px;
/*	-webkit-animation: mainFadeIn 2s forwards;
	-o-animation: mainFadeIn 2s forwards;
	animation: mainFadeIn 2s forwards;
	animation-delay: 2.5s;
	opacity: 0;*/
}
    
 /* @keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/

/*@keyframes slideDown {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}*/

/*@media screen and (max-width: 740px) {
	.hero {
		width: 100%;
		height: 480px;
	}
}

@media screen and (max-width: 500px) {
	.hero {
		width: 100%;
		height: 100vh;
	}
}*/

					/*LOWER TEXT ONTO PAGE */

					/* FINISHED */



					 /* HOME PG - FIXED LOGO & EMAIL SECTION */ 
#fixed {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 9;
}

.logo {
	position: absolute;
	top: 5%;
	left: 2%;
	color: black;
}

.email {
	position: absolute;
	top: 5%;
	right: 2%;
	color: black;
}

@media screen and (min-width: 1800px) {
	.hero-title {
		font-size: 125px;
	} .hero-subtitle {
		font-size: 45px;
	}
}

@media screen and (max-width: 745px) {
	.hero {
		width: 100%;
		height: 500px; 
	} .hero-title {
		font-size: 65px;
    	border-top: 2px solid white;
    	border-bottom: 2px solid white;
    	margin-top: -60px;
    	text-shadow: none;
	} .hero-subtitle {
		position: relative;
		top: 134px;
		font-size: 20px;
	}
}

@media screen and (max-width: 420px) {
	.hero {
		height: 100vh;
	} .hero-title {
		font-size: 35px;
		margin-top: -74px;
		padding: 4px 0px;
    	text-shadow: none;
	} .hero-subtitle {
		font-size: 20px;
		font-weight: 400;
		position: relative;
		top: 203px;
	}
}

/*736
734
684
667*/







					/* SERVICES PAGE */
.row {
	width: 100%;
	height: auto;
	margin: 0;
	color: #404e9c;
	/*text-shadow: 1px 1px 1px rgba(151,24,64,0.2);*/
	font-size: 17.5px;
	text-align: center;
	line-height: 1.5em;
	letter-spacing: 1.3px;
	display: block;
}

.column-one,
.column-two,
.column-three {
	width: 33.33%;
	float: left;
	display: block;
}

.column-one h2,
.column-two h2,
.column-three h2 {
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 8px;
	margin-top: 3px;
}

.column-one p,
.column-two p,
.column-three p {
	padding: 10px 10px;
	margin: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.hide {
	width: 100%;
	height: 25px;
	background-color: #fff;
	opacity: 1;
	position: relative;
	top: -70px;
	left: 0;
}

.column-one img {
	width: 100%;
	height: auto;
	padding-left: 10px;
}

.column-two img {
	width: 100%;
	height: auto;
	padding-left: 5px;
	padding-right: 5px;
}

.column-three img {
	width: 100%;
	height: auto;
	padding-right: 10px;
}

.background-des {
	min-height: 203px;
	background-color: #404e9c;
	color: #fff;
}

.background-res {
	background-color: #343f7f;
	color: #fff;
}

.background-old {
	min-height: 203px;
	background-color: #252d5b;
	color: #fff;
}

.background-des:hover,
.background-res:hover,
.background-old:hover {
	background-color: #fff;
	color: black; 
  	box-shadow: 0 15px 25px -25px #1F1F46;
  	transform: translateY(20px);
}


button {
	font-family: 'Marvel', Arial, sans-serif;
	font-size: 17.5px;
	font-weight: 600;
	letter-spacing: 2px;
	margin-top: 27px;
	padding: 5px;
	text-decoration: none;
	background-color: #fff;
	color: #404e9c;
	border: 2px solid #404e9c;
}

.column-one:hover > h2,
.column-two:hover > h2,
.column-three:hover > h2 {
        animation-name: bounce;
        animation-duration: 1s;
        animation-iteration-count: 1;
}

@keyframes bounce {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-25px); }
        100% { transform: translateY(0); }
    }


@media screen and (max-width: 1330px) {
	.column-one p, .column-three p {
		min-height: 230px;
	} 
}

@media screen and (max-width: 1180px) {
	.column-one p, .column-three p {
		min-height: 256px;
	} 
}

@media screen and (max-width: 1090px) {
	.column-one p, .column-three p {
		min-height: 281px;
	} 
}


@media screen and (max-width: 998px) {
	.column-one h2, .column-two h2, .column-three h2 {
		font-size: 22px;
		font-weight: 800;
		letter-spacing: 0.5px;
		margin-bottom: 8px;
		margin-top: 3px;
		}
	}

@media screen and (max-width: 983px) {
	.column-one p, .column-three p {
		min-height: 309px;
		padding: 10px;
	} button {
		margin-top: 44px;
	} .hide {
		position: relative;
		top: -81px;
	}
}


@media screen and (max-width: 888px) {
	.column-one p, .column-three p {
		min-height: 350px;
	} .hide {
		position: relative;
		top: -90px;
	}
}

@media screen and (max-width: 810px) {
	.column-one p, .column-three p {
		min-height: 362px;
	} } .column-one, .column-two, .column-three {
		width: 100%;
		float: none;
}

@media screen and (max-width: 786px) {
	/*.column-one p, .column-three p {
		min-height: 387px;*/
	} .column-one h2, .column-two h2, .column-three h2 {
		font-size: 21px;
		font-weight: 800;
		letter-spacing: 0.5px;
		margin-bottom: 8px;
		margin-top: 3px;
	} .column-one img, .column-two img, .column-three img {
		width: 100%;
		padding: 0;
}

@media screen and (max-width: 750px) {
	/*.column-one p, .column-three p {
		width: 100%;
		min-height: auto;
		padding: 10px;
	} .column-one, .column-two, .column-three {
		width: 100%;
		float: none;*/   /* here*/
	} button {
			margin-top: 12px;
			margin-bottom: 25px;
	} .hide {
			display: none;
	} 
	}
}

@media screen and (max-width: 420px) {
	.column-one h2, .column-two h2, .column-three h2 {
		letter-spacing: 1px;
		text-transform: uppercase;
	} button {
		margin-top: 25px;
	}
}

								/* FIVE STEP PLAN */

.process-container {
	width: 100%;
	min-height: 600px;
}

.plan-column,
.design-column,
.develope-column,
.test-column,
.maintain-column {
	width: 20%;
	float: left;
	padding: 10px;
	text-align: left;
}

.fade-up {
	opacity: 0;
	margin-top: -50px;
	/*transform: translateY(100px);
    animation: 1.2s slideDown ease-in-out forwards 1s;*/
}

.fade-down {
	opacity: 0;
	margin-top: -55px;
}

.plan-column:hover > .number-style,
.design-column:hover > .number-style,
.develope-column:hover > .number-style,
.test-column:hover > .number-style,
.maintain-column:hover > .number-style{
	color: #404e9c;
}

.plan-column h2,
.design-column h2,
.develope-column h2,
.test-column h2,
.maintain-column h2 {
	position: relative;
	font-size: 28px;
	z-index: 2;
	padding-top: 7px; 
	background-color: #fff;
	/*text-transform: uppercase;*/
}

.number-style {
	font-family: 'Roboto', Open Sans, sans-serif;
	font-size: 125px;
	font-weight: bold;
	position: relative;
	top: 59px;
	right: -180px;
	z-index: 1;
	color: red;
}


							/* SCREEN RESPONSIVE */
@media screen and (max-width: 1300px) {
	.number-style {
		right: -99px;

	}
}
@media screen and (max-width: 815px) {
	.plan-column,
	.design-column,
	.develope-column,
	.test-column,
	.maintain-column {
		width: 100%;
		margin: 0;
		float: none;
		text-align: center;
	} .number-style {
		right: -180px;
	}
}

@media screen and (max-width: 450px) {
	.number-style {
		right: -130px;
	} .plan-column,
	.design-column,
	.develope-column,
	.test-column,
	.maintain-column {
		margin-top: 0 !important;
	} .process-container h2 {
		font-size: 21px;
		text-transform: uppercase;
	} .number-style {
		top: 55px;
	}
}

@media screen and (max-width: 340px) {
	.number-style {
		right: -110px;
	}
}
						/* SCREEN RESPONSIVE END */
/*
.develope-column,
.maintain-column {
	transform: translateY(100px);
    animation: 1.2s slideDown ease-in-out forwards 1s; 
}

@keyframes slideDown {
  100% {
    transform: translateY(0px);
  }

.plan-column {
	transform: translateY(100px);
    animation: slideUp 1.2s ease forwards 1s; 
}

.design-column {
	transform: translateY(100px);
    animation: slideUp 1.2s ease forwards 1s; 
	animation-delay: 1.5s;
}

.develope-column {
	transform: translateY(100px);
    animation: slideUp 1.2s ease forwards 1s; 
	animation-delay: 2s;
}

.test-column {
	transform: translateY(100px);
    animation: slideUp 1.2s ease forwards 1s; 
	animation-delay: 2.5s;
}

.maintain-column {
	transform: translateY(100px);
    animation: slideUp 1.2s ease forwards 1s; 
	animation-delay: 3s;
}


@keyframes slideUp {
  100% {
    transform: translateY(0px);
  }

.design-column,
.test-column {
	transform: translateY(100px);
    animation: 1.2s slideUp ease-in-out forwards 1s; 
}


@keyframes slideUp {
  100% {
    transform: translateY(0px);
  }*/
					
								/* PORTFOLIO PAGE */

.title {
  font-family: 'Roboto', Open Sans, sans-serif;
  text-transform: uppercase;
  color: blue;
  font-size: 15px;
  position: relative;
  top: 10;
  left: 25;
  margin: 0;
}

.slideshow-container {
	width: 100%;
	height: auto;
	background-color: #fff;
	text-align: center;
}

.dot {
	position: static;
	color: black;
	z-index: 1;
	width: 55px;
	height: 55px;
	opacity: 1;
	text-align: center;
}

.active {
  background-color: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}


/*@media screen and (max-width: 850px) {

}*/

@media screen and (max-width: 770px) {
	/*.slideshow-container {
		width: 100%;
		height: auto;
		text-align: center;
		margin: 0;*/
	} img {
		width: 100%;
		height: auto;
		align-items: center;
	}

}

								/*FOOTER / CONTACT PAGE */
.contact-column,
.logo-column {
	width: 50%;
	height: 500px;
	float: left;
	background-color: #515EA9;
}

.contacto-form {
	border: 2px solid white;
}

.logo-column {
	background-color: #252d5b;
}

form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input,
textarea {
	width: 300px;
	margin: 15px 0px;
	padding: 10px;
	border-radius: 10px;
}

@media screen and (max-width: 440px) {
	.contact-column,
	.logo-column {
		width: 100%;
		float: none;
	}
}





