* {
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: inherit;
}

body {
	width: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}


					/* HOME PAGE CONTAINER */
.hero-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
					/* NAV BAR */
#navbar {
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 1.1px;
  text-align: center;
  color: #4c220a;
  padding-right: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: none;
  padding-left: 0;
}

nav li {
  width: auto;
  margin-left: 50px;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

#navbar li:hover {
	border-top: 2px solid #4c220a;
	margin-top: -2px;
}

.button {
    display: none;
}



							/* RESPONSIVE */

@media screen and (max-width: 740px) {
	li a {
		font-size: 16px;
	}
}

@media screen and (max-width: 450px) {
	li a {
		font-size: 17.5px;
		letter-spacing: 1.3px;
		line-height: 2.3em;
		text-transform: uppercase;
	} nav ul {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #515EA9;
	} .button {
		display: block;
		font-size: 25px;
		margin-top: 18px;
		margin-bottom: 10px;
		background-color: #515EA9
	} li {
			display: none;
	} #navbar {
		position: static;
		margin-top: 72px;
		background-color: #515EA9;
	} .block {
		display: none;
	} nav li {
		width: 90px;
	} li .active:before {
		border-bottom-color: #515EA9;
	}
}

@media screen and (min-width: 450px) {
	li { 
	display: block !important;
	}
}

							/* HOME PAGE */

.background-image {
	background: #cc3d00 radial-gradient(circle at 60% 100%,#ffa436 5%,#cc3d00 94%);
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.main-title {
	width: 400px;
	height: auto;
	font-size: 50px;
}

.main-title h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	color: #4c220a;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-top: -108px;
}

.main-title h2 {
	font-size: 30px;
	color: #4c220a;
	letter-spacing: 1.5px;
}

.main-img {
	width: 850px;
	height: 400px;
}


@media screen and (max-width: 740px) {
	.background-image,
	.main-title,
	.main-img {
		width: 100%;
		height: auto;
		display: block;
	}
	} {
	
}
 /* INFOMATION BAR UNDER MAIN IMAGE */

.info-bar-container, .info-row {
	width: 100%;
	height: auto;
}

.info-column {
	width: 25%;
	height: auto;
	padding-top: 5px;
	float: left;
	text-align: center;
}

.info-column h3 {
	margin-top: 5px;
	padding-top: 0px;
}


.fa-award,
.fa-laptop-code,
.fa-server,
.fa-edit {
	font-size: 35px;
	color: orange;
	display: block !important;
	text-align: center;
	padding-bottom: 12px;
	padding-top: 5px;
}

.info-row::after {
  content: "";
  clear: both;
  display: table;
}

hr {
    color: #ffd399;
    width: 1px;
    height: 62px;
    margin-top: -82px;
    float: left;
}

@media screen and (max-width: 740px) {
    .info-column {
        width: 100%;
    } hr {
    width: 80%;
    height: 1px;
    margin-top: 10px;
    float: none;

    } .info-column h3 {
        margin-bottom: 0px;
    }
}
 
					 /* HOME PG - FIXED LOGO & EMAIL SECTION */ 
#fixed {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
}

.logo {
	position: absolute;
	top: 13%;
	left: 9px;
	width: 53px;
	height: 51px;
}



							/* RESPONSIVE */

@media screen and (min-width: 1800px) {
	.hero-title {
		font-size: 125px;
	} .hero-subtitle {
		font-size: 45px;
	} .logo-animation {
		left: -578px;
	}
}


@media screen and (max-width: 1030px) {
	.logo-animation {
		display: none;
	} .hero-title {
		margin-top: -112px; ;
	}
}

@media screen and (max-width: 745px) {
	.hero {
		width: 100%;
		height: 500px;
	} .hero-title {
		font-size: 65px;
    	border-top: 2px solid white;
    	border-bottom: 2px solid white;
    	margin-top: -60px;
    	text-shadow: none;
	} .hero-subtitle {
		position: relative;
		top: 134px;
		font-size: 20px;
	}
}

@media screen and (max-width: 420px) {
	.hero {
		margin-top: -22px;
		/*height: 500px;*/
	} .hero-title {
		font-size: 35px;
		margin-top: -150px;
		margin-bottom: 40px;
		padding: 4px 0px;
    	text-shadow: none;
	} .hero-subtitle {
		font-size: 20px;
		font-weight: 400;
		position: relative;
		top: 203px;
	}

}

						/* ABOUT ME */

.about-me {
	width: 100%;
	height: auto;
	margin-top: 0px;
	font-size: 20px;
	letter-spacing: 1.5px;
	color: #404e9c;
	background: url("https://dj-webdesign.co.uk/images/banner-two.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.aboutme-text p {
	width: 550px;
	height: auto;
	padding: 40px;
	margin-top: 36px;
	margin-left: 200px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	line-height: 1.4em;
}

.quotation {
	width: 37px;
	height: 26px;
	position: relative;
	top: 76px;
	left: 211px;
}

.quotation-one {
	width: 37px;
	height: 26px;
	position: relative;
	top: -55px;
	left: 700px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}



					/* ALIGN PAGE LINKS INTO PLACE */
#about-me::before { 
  display: block; 
  content: " "; 
  margin-top: -100px; 
  height: 100px; 
  visibility: hidden; 
  pointer-events: none;
}
					/* END */

@media screen and (max-width: 750px) {
	.about-me {
		height: 500px;
	} .title {
		margin-top: 0;
	} .aboutme-text p {
		width: 95%;
		margin: auto;
		padding: 30px 10px;
	} .quotation-one {
		display: none;
	} .quotation {
		display: none;
	}
}

@media screen and (max-width: 440px) {
	.about-me {
		background: #29B2DF;
		height: 396px;
	}.aboutme-text p {
		width: 94%;
		font-size: 17.5px;
		margin-top: 0px;
		margin-left: 10px;
		margin-right: 10px;
		padding: 40px 10px;
		line-height: 1.5em;
		letter-spacing: 1.3px;
	} .quotation {
		display: block;
		top: 37px;
		left: 20px;
	} .quotation-one {
		display: block;
		top: -33px;
		left: 338px;
	} .title {
		margin-top: 0;
	}
}

@media screen and (max-width: 380px) {
	.quotation {
		top: 37px;
		left: 20px;
	} .quotation-one {
		top: -33px;
		left: 307px;
	}
}

@media screen and (max-width: 360px) {
	.quotation,
	.quotation-one {
		display: none;
	}
}
	
	
					/* PRICES & SERVICES SECTION */

.prices-container { 
	width: 100%;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

.prices-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.services-title {
	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 5px;
	color: #4c220a;
}

.prices-column-one, .prices-column-two, .prices-column-three { 
	min-width: 430px;
	margin: 15px;
	border: 2px solid #ffc880;
	border-radius: 15px;
	padding: 5px;
	box-shadow: 0px 10px 18px #c1bbbb;
	background-color: #fffdfd;
	transition: .5s ease
}

.prices-column-one:hover,
.prices-column-two:hover,
.prices-column-three:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	transition: 1s ease;
}

.btn, .services-title {
	display: block;
	text-align: center;
}

.btn {
	margin-top: 25px;
}

.order-btn {
	width: 150px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px;
	border-radius: 7px;
	letter-spacing: 1.5px;
	cursor: pointer;
	background: radial-gradient(#ffcc66, #ff9933);
	color: #fff;
}

.prices-ul  {
	width: 85%;
	height: auto;
	margin: auto;
	padding: 10px 3px 10px 12px;
	border-radius: 10px;
	line-height: 25px;
	text-decoration: none;
	list-style-type: none;
	font-size: 14px;
	font-weight: 600;
	overflow: hidden;
	opacity: 1.2px;
	border: 3px solid #808080;
}

.fa-check-circle {
	font-size: 15px;
	color: green;
	margin-right: 8px;
}

.new-price {
	font-weight: bold;
	font-size: 43px;
	margin-right: 10px;
	color: red;
}

.inline {
	text-align: center;
}

span del {
	font-weight: bold;
	text-decoration: line-through;
	color: #7b7575;
	font-size: 20px;
}


				/* INFORMATION TOOLTIP */
.info {
	width: 100%;
	position: relative;
	display: inline-block;
	font-size: 32px;
	color: #ebebf2;
	text-align: center;
}

.info .tooltiptext {
	visibility: hidden;
	font-size: 12px;
	background-color: #4a4645;
	color: #fff;
	line-height: 2;
	letter-spacing: 2.2px;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 0%;
	/*opacity: 1;*/
	/*transition: opacity 0.3s;*/
	text-align: center;
}

.info .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.info:hover .tooltiptext {
	visibility: visible;
	opacity: 0.9;
}


				/* FIREFOX ONLY */

 .custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ffcc66 #ebebf2;
}

.custom-scrollbar { 
	height: 152px;
	width: auto;
	overflow-y: scroll; 
}

.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track { 
	background : #ebebf2;
	border-radius: 7px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background : #ffcc66;
	border-radius: 7px;
}


@media screen and (max-width: 710px) {
	.prices-row {
		display: flex;
		flex-direction: column;
		justify-content: center;
	} .prices-column-one, .prices-column-two, .prices-column-three { 
		/*min-width: 320px;
		margin: 15px;
		padding: 5px;*/
	}
}




						/* SERVICES PAGE */

#services {
	margin-top: 10px;
}

.row {
	width: 100%;
	height: auto;
	margin: 0;
	color: #404e9c;
	/*text-shadow: 1px 1px 1px rgba(151,24,64,0.2);*/
	font-size: 17.5px;
	text-align: center;
	line-height: 1.5em;
	letter-spacing: 1.3px;
	display: block;
}

.column-one,
.column-two,
.column-three {
	width: 33.33%;
	float: left;
	display: block;
	margin-bottom: 42px;
}

.column-one h2,
.column-two h2,
.column-three h2 {
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 8px;
	margin-top: 3px;
}

.column-one p,
.column-two p,
.column-three p {
	padding: 20px 10px 10px 10px;
	margin: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-one img {
	width: 100%;
	height: auto;
	padding-left: 10px;
}

.column-two img {
	width: 100%;
	height: auto;
	padding-left: 5px;
	padding-right: 5px;
}

.column-three img {
	width: 100%;
	height: auto;
	padding-right: 10px;
}

.background-des {
	height: 270px;
	background-color: #404e9c;
	color: #fff;
}

.background-res {
	height: 270px;
	background-color: #343f7f;
	color: #fff;
}

.background-old {
	height: 270px;
	background-color: #252d5b;
	color: #fff;
}

.background-des:hover,
.background-res:hover,
.background-old:hover {
	background-color: #fff;
	color: black; 
  	box-shadow: 0 15px 25px -25px #1F1F46;
  	transform: translateY(20px);
}


button {
	font-family: 'Marvel', Arial, sans-serif;
	font-size: 17.5px;
	font-weight: 600;
	letter-spacing: 2px;
	margin-top: 27px;
	padding: 5px;
	text-decoration: none;
	background-color: #fff;
	color: #404e9c;
	border: 2px solid #404e9c;
}

.column-one:hover > h2,
.column-two:hover > h2,
.column-three:hover > h2 {
        animation-name: bounce;
        animation-duration: 1s;
        animation-iteration-count: 1;
}

.simple-header {
	width: 98%;
	font-size: 28px;
	letter-spacing: 0.8px;
	color: #404e9c;
	text-transform: uppercase;
	position: relative;
	top: 0px;
	left: 10px;
	border-top: 2px solid #404e9c;
	padding-top: 15px; 
}

@keyframes bounce {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-25px); }
        100% { transform: translateY(0); }
    }


@media screen and (max-width: 1100px) {
	.background-des, .background-res, .background-old {
		height: 375px;
	} .column-one p, .column-two p, .column-three p {
		padding-top: 10px;
	}
}

@media screen and (max-width: 998px) {
	.column-one h2, .column-two h2, .column-three h2 {
		font-size: 22px;
		font-weight: 800;
		letter-spacing: 0.5px;
		margin-bottom: 8px;
		margin-top: 3px;
		}
	}

@media screen and (max-width: 786px) {
	.column-one h2, .column-two h2, .column-three h2 {
		font-size: 21px;
		font-weight: 800;
		letter-spacing: 0.5px;
		margin-bottom: 8px;
		margin-top: 3px;
	}
}

@media screen and (max-width: 750px) {
	.column-one, .column-two, .column-three {
		width: 100%;
		float: none;
	} .column-one img, .column-two img, .column-three img {
		width: 100%;
		padding: 0;
	} .background-des, .background-res, .background-old {
		height: auto;
	} button {
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 420px) {
	.column-one h2, .column-two h2, .column-three h2 {
		letter-spacing: 1px;
		text-transform: uppercase;
	} .column-one, .column-two, .column-three {
		margin-bottom: 25px;
	} .simple-header {
		width: 95%;
		font-size: 21px;
	}
}

								/* FIVE STEP PLAN */

.process-container {
	width: 100%;
	height: auto;
	margin-top: 105px;
}

.plan-column,
.design-column,
.develope-column,
.test-column,
.maintain-column {
	width: 20%;
	float: left;
	padding: 10px;
	text-align: left;
}

.fade-up {
	opacity: 1;
	margin-top: 0px;
}

.fade-down {
	opacity: 1;
	margin-top: -80px;
}

.plan-column:hover > .number-style-one,
.design-column:hover > .number-style-two,
.develope-column:hover > .number-style-three,
.test-column:hover > .number-style-four,
.maintain-column:hover > .number-style-five {
	color: #404e9c;
	animation: jumpone 2s ease;
}

.plan-column h2,
.design-column h2,
.develope-column h2,
.test-column h2,
.maintain-column h2 {
	position: relative;
	font-size: 28px;
	padding-top: 7px; 
	background-color: #fff;
	/*text-transform: uppercase;*/
}

.number-style-one,
.number-style-two,
.number-style-three,
.number-style-four,
.number-style-five  {
	font-family: 'Roboto', Open Sans, sans-serif;
	position: relative;
	font-size: 61px;
	font-weight: bold;
	text-align: center;
	color: red;
}


    @keyframes jumpone {
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-100px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
    }

#services::before { 
  display: block; 
  content: " "; 
  margin-top: -39px; 
  height: 61px; 
  visibility: hidden; 
  pointer-events: none;
}
							/* SCREEN RESPONSIVE */

@media screen and (max-width: 770px) {
	.plan-column,
	.design-column,
	.develope-column,
	.test-column,
	.maintain-column {
		width: 100%;
		margin: 0;
		float: none;
		text-align: center;
	} .process-container {
		margin-top: 32px;
	}
}

@media screen and (max-width: 450px) {
	.process-container h2 {
		font-size: 21px;
		text-transform: uppercase;
	} .number-style {
		top: 55px;
	} .process-container {
		overflow: hidden;
	}
}
						/* SCREEN RESPONSIVE END */


  
input {
    display: none;
}

label {
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #6AAB95;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;
}

label:hover {
    background: #4E8774;
}

.content {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}



li {
  animation: bounceInUp 1s ease both;
}

label::after {
    content: '+';
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 2px;
}

input:checked + label::after {
    content: '-';
    right: 14px;
    top: 3px;
}

label {
    position: relative;
}
/*@-webkit-keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(-30px); 
    } 
    80% { 
        -webkit-transform: translateY(10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(-30px); 
    } 
    80% { 
        transform: translateY(10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} */



					
								/* PORTFOLIO PAGE */

.title {
  text-transform: uppercase;
  color: #404e9c;
  font-size: 28px;
  letter-spacing: 0.8px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.slideshow-container {
	width: 100%;
	height: auto;
	background-color: #fff;
	text-align: center;
}

/*.dot {
	position: static;
	color: black;
	z-index: 1;
	width: 55px;
	height: 55px;
	opacity: 1;
	text-align: center;
}*/

.active {
  background-color: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

#portfolio::before { 
  display: block; 
  content: " "; 
  margin-top: -100px; 
  height: 100px; 
  visibility: hidden; 
  pointer-events: none;
}

@media screen and (max-width: 850px) {
	 img {
		width: 100%;
		height: auto;
		align-items: center;
	}
}

@media screen and (max-width: 440px) {
	.title {
		font-size: 24px;
	}
}

								/* CONTACT PAGE */

.contact-container {
	width: 100%;
	height: auto;
	margin-top: 125px;
	background: linear-gradient(to bottom,#e5a326 0,#f6de80 90%);

}

.contact-column,
.thank-you-column {
	width: 45%;
	height: auto;
	float: left;
}

#contact-form {
	width: 380px;
	position: relative;
	top: -80px;
	left: 130px;
	border: 1px solid #4c220a;
	border-radius: 8px;
	box-shadow: 0px 10px 18px #71654e;
}

.thank-you-column p {
	color: #fff;
	text-align: left;
	margin: 0px 100px;
	letter-spacing: 3px;
	line-height: 1.6em;
}

.thank-you-title {
	font-size: 40px;
	font-weight: bold;
}

#submitted-message {
	width: 100%;
	height: 100px;
	text-align: left;
	margin-left: 100px;
	margin-top: 100px;
	font-size: 25px;
	color: orange;
	text-transform: uppercase;
	line-height: 1.4em;
	display: none;
}

.contact-title {
	color: #4c220a;
	border-bottom: 7px solid #e5a326;
}

form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input,
textarea {
	width: 300px;
	margin: 15px 0px;
	padding: 8px;
	border-radius: 10px;
	display: block;
	border: 5px solid transparent;
}

input[type=submit] {
	background: radial-gradient(#ffcc66, #ff9933);
	color: #fff;
}

input[type=submit]:focus {
	border: 5px solid #fff;
}

textarea:focus, input:focus {
	border: 5px solid blue;
}


@media screen and (max-width: 750px) {
	#submitted-message {
		font-size: 20px;
		color: orange;
	}
}
@media screen and (max-width: 440px) {
	.contact-column,
	.thank-you-column {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	} .thank-you-column p {
		margin: 10px 15px 35px 15px;
		font-size: 17.5px;
		text-align: center;
	} .thank-you-title {
		font-size: 28px;
	} #submitted-message {
		font-size: 18px;
		height: auto;
		margin: 0px 0px -25px;
		text-align: center;
		font-weight: bold;
	}
}

#contact::before { 
  display: block; 
  content: " "; 
  margin-top: -110px; 
  height: 110px; 
  visibility: hidden; 
  pointer-events: none;
}

					/* QUESTIONS SECTION */

input[type=checkbox] {
	display: none;
}

.question-container {
	width: 100%;
	height: auto;
	background-color: #fff;
	margin-right: auto;
	margin-left: auto;
}

.question-row {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.question-column-one, .question-column-two {
	width: 40%;
}

label {
	color: #4c220a;
	background: white;
	margin-bottom: 5px;
	margin-left: 5px;
	letter-spacing: 1.3px;
	border: 3px solid #ffd399; /*ffc880*/
}

label:hover {
	background-color: orange;
}

.question-title {
	text-align: center;
}

.content {
	margin-left: 5px;
	margin-top: -8px;
	margin-bottom: 5px;
	padding: 15px;
	background-color: #fff;
	border: 3px solid #ffd399;
}

.content p {
	margin: 0px; 
}

@media screen and (max-width: 730px) {
	.question-container {
		margin-right: 15px;
		margin-left: 15px;
	} .question-row {
		display: block;
		} .question-column-one, .question-column-two {
		width: 90%;
		margin: 0px;	
	} .eap_section_title_3896 {
		font-size: 21px;
		padding-left: 30px;
		padding-right: 30px;
		margin-top: 30px;
		margin-bottom: 10px !important;
	}
	
}

								/* FOOTER */


.footer-row {
	width: 100%;
	height: 218px;
	margin-top: 25px;
}

.footer-column {
	width: 33%;
	height: auto;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

.css-logo {
	width: 200px;
	height: 138px;
}

.back-to-top {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 1px;
}

.back-to-top a {
	width: 200px;
	height: 42px;
	background: #1b2836;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 2em;
	letter-spacing: 3.5px;
	border-radius: 0px 0px 10px 10px;
}

.designer {
	height: 165px;
	display: block;
	font-size: 17.5px;
	text-align: center;
	letter-spacing: 1.5px;
}

.designer a {
	letter-spacing: 0.3em;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #515EA9;
	color: #fff;
	padding: 10px;
	border-radius: 8px;
	margin-left: 5px;
}

.designer h3 {
	font-size: 20px;
	letter-spacing: 1.5px;
	margin-top: 57px;
}

.logo-design {
	width: 250px;
	height: auto;
	margin-top: -33px;
}

.copyright {
	width: 100%;
	text-align: center;
	letter-spacing: 3.5px;
	background-color: #1b2836;
	padding: 8px; 
}

.copyright h2 {
	font-size: 25px;
	font-weight: 400;
	color: #fff;
	margin: 0;
}

@media screen and (max-width: 770px) {
	.footer-row {
		height: auto;
		margin-left: auto;
		margin-right: auto;
	} .footer-column {
		width: 100%;
		float: none;
		margin-top: 30px;
	} .designer {
		height: auto;
		padding: 10px;
		background-color: #515EA9;
	} .copyright h2 {
		font-size: 20px;
	} .designer a {
		position: static;
		letter-spacing: 1em;
		font-weight: bold;
		color: #fff;
	} .designer h3 {
		margin: 0;
	} .logo-design {
		width: 325px;
	}
}






