* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
	width: 100%;
	margin: 0;
}


					/* EACH IND PAGE */
.container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family: 'Marvel', Arial, sans-serif;
}
					/* NAV BAR */
.container > input,
.container > a {
	position: fixed;
	top: 70px;
	width: 20%;
	cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	height: 34px;
	line-height: 34px;
	letter-spacing: 0.7px;
}

.container > input {
	opacity: 0;
	z-index: 1000;
}

.container > a {
	z-index: 10;
	font-weight: 700;
	background-color: #404e9c;
	color: #fff;
	text-align: center;
	/*text-shadow: 1px 1px 1px rgba(151,24,64,0.2);*/
}

/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
/*.st-container:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 100px;
	background: #e23a6e;
	z-index: 9;
	top: 0;
	opacity: 0;
}*/

#st-control-1, #st-control-1 + a {
	left: 0;
}

#st-control-2, #st-control-2 + a {
	left: 20%;
}

#st-control-3, #st-control-3 + a {
	left: 40%;
}

#st-control-4, #st-control-4 + a {
	left: 60%;
}

#st-control-5, #st-control-5 + a {
	left: 80%;
}

.container > input:checked + a,
.container > input:checked:hover + a{
	background-color: #252d5b;
}

					/* TAB BAR TRIANGLE */
.container > input:checked + a:after,
.container > input:checked:hover + a:after{
	top: 100%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #252d5b;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
	-webkit-transform: translateY(0%) rotate(140deg);
	-moz-transform: translateY(0%) rotate(140deg);
	-o-transform: translateY(0%) rotate(140deg);
	-ms-transform: translateY(0%) rotate(140deg);
	transform: translateY(0%) rotate(180deg);
}

.container > input:hover + a{
	background: #343f7f;
}

.block {
	width: 100%;
	height: 25px;
	position: absolute;
	top: 105px;
	left: 0;
	background-color: #fff;
	z-index: 1;
}

					/* IND SCREEN SIZE */
.st-scroll,
.st-panel {
	position: relative;
	width: 100%;
	height: 100%;
}
					/* SCREEN SCROLL */
/*.st-scroll {
	top: 0;
	left: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}*/
					
/*.st-panel{
	background: #fff;
	overflow: hidden;
} */

/*#st-control-1:checked ~ .st-scroll {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll {
	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
}
#st-control-5:checked ~ .st-scroll {
	-webkit-transform: translateY(-400%);
	-moz-transform: translateY(-400%);
	-o-transform: translateY(-400%);
	-ms-transform: translateY(-400%);
	transform: translateY(-400%);
}*/




					/*HOME PAGE - TYPEWRITTER TEXT */

.hero {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-content {
    position: relative; 
    cursor: none;
    color: white;
    text-align: center;
    margin: 0.625rem;
    z-index: 0;
}
.hero-title {
    font-family: 'Roboto', Open Sans, sans-serif;
    color: #ffa31a;
    text-shadow: 2px 2px;
    font-size: 100px;
    font-weight: 800;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translateY(-1000px);
    animation: 1.2s slideDown ease-in-out forwards 1s;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    line-height: 1em;
}

.hero-subtitle {
	font-family: 'Segoe UI', Roboto, Open Sans, sans-serif;
	font-size: 35px;
	font-weight: 200;
	letter-spacing: 2px;
	-webkit-animation: mainFadeIn 2s forwards;
	-o-animation: mainFadeIn 2s forwards;
	animation: mainFadeIn 2s forwards;
	animation-delay: 2.5s;
	opacity: 0;
}
    
  @keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*h1.hero-title::before {
    content: '';
    width: 0%;
    height: 144px;
    background-color: #515EA9;
    position: absolute;
    bottom: -132px;
    animation: 1s underline ease-in-out forwards 2s;
    mix-blend-mode: screen;
}*/

/*@keyframes underline {
  100% {
    width: 100%;
  }
}*/

@keyframes slideDown {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

					/*LOWER TEXT ONTO PAGE */

					/* FINISHED */



					 /* HOME PG - FIXED LOGO & EMAIL SECTION */ 
#fixed {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 9;
}

.logo {
	position: absolute;
	top: 5%;
	left: 2%;
	color: black;
}

.email {
	position: absolute;
	top: 5%;
	right: 2%;
	color: black;
}


					/* HOME PAGE LINKS */


.blah {
  font-family: 'Roboto', Open Sans, sans-serif;
  text-transform: uppercase;
 color: blue;
  font-size: 15px;
  /*position: relative;
  top: 10;
  left: 25;*/
  margin: 0;
  
                  
}

.slideshow-container {
	width: 100%;
	height: auto;
	background-color: #fff;
	text-align: center;
}

.dot {
	display: inline-block;
	color: black;
	z-index: 1;
	width: 55px;
	height: 55px;
	opacity: 1;
}

.active {
  background-color: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@media screen and (max-width: 770px) {
	.slideshow-container {
		width: 100%;
		height: auto;
		text-align: center;
		margin: 0;
	} .blah {
		font-size: 100px;
	} img {
		width: 100%;
		height: auto;
		align-items: center;
	}

}

					/* SERVICES PAGE */
.row {
	width: 100%;

	margin: 0;
	color: #404e9c;
	/*text-shadow: 1px 1px 1px rgba(151,24,64,0.2);*/
	font-size: 18px;
	font-weight: 200;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 1.3px;
}

.column-one, .column-two, .column-three {
	width: 33.33%;
	float: left;
	display: block;
}

.column-one p, .column-two p, .column-three p {
	padding: 10px 10px;
	margin: 0px;
}

.column-one h2, .column-two h2, .column-three h2 {
	margin-bottom: 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-one img {
	width: 100%;
	height: auto;
	margin: 0;
}

.column-two img {
	width: 100%;
	height: auto;
	margin: 0;
}

.column-three img {
	width: 100%;
	height: auto;
	margin: 0;
}

.logo-1, .logo-3 {
	width: 100px;
	height: 100px;
	background-color: red;
	background-color: #404e9c;
	padding-top: 10px;
	margin-left: 35%;
}

.background-des {
	background-color: #404e9c;
	/*opacity: 0.4;*/
	color: #fff;
}

.background-res {
	background-color: #343f7f;
	/*opacity: 0.4;*/
	color: #fff;
}

.background-old {
	background-color: #252d5b;
	/*opacity: 0.8;*/
	color: #fff;
}


.column-one:hover > h2 {
        animation-name: bounce;
      /*  animation-timing-function: linear;*/
        animation-duration: 1s;
        animation-iteration-count: 1;
}

@keyframes bounce {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-25px); }
        100% { transform: translateY(0); }
    }

.column-two:hover > h2 {
        animation-name: bounce;
      /*  animation-timing-function: linear;*/
        animation-duration: 1s;
        animation-iteration-count: 1;
}

@keyframes bounce {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-25px); }
        100% { transform: translateY(0); }
    }



.column-three:hover > h2 {
        animation-name: bounce;
      /*  animation-timing-function: linear;*/
        animation-duration: 1s;
        animation-iteration-count: 1;
}

@keyframes bounce {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-25px); }
        100% { transform: translateY(0); }
    }
/*.text-jump-old:on hover {
-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	-o-transform: translateY(5px);
	-ms-transform: translateY(5px);
	transform: translateY(5px);
}*/

					/* Colored sections */




					/* FOOTER SECTION */

.footer {
	width: 100%;
	height: 150px;
	background-color: red; 
}
					/* RESPONSIVE */
/*@media screen and (max-width: )

.column {
	width: 33.33%;
	float: left;
	display: block;
}*/

@media screen and (max-width: 700px) {
	.hero-title {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 2px;
	}
}

@media screen and (max-width: 400px) {
	.column-one, .column-two, .column-three {
		width: 100%;
		float: none;
		height: auto;
	}
	
@media screen and (max-width: 400px) {
	.row p, {
		width: 100%;
		margin: 0;
		padding: 10px;
		height: auto;
}


	.container > a {
		font-size: 13px;
	}
}
@media screen and (max-width: 740px) {
	.container > a {
		font-size: 10px;
	}
	
	.st-deco{
		width: 120px;
		height: 120px;
		margin-left: -60px;
	}
}

@media screen and (max-width: 740px) {
	.typewrite {
		text-align: center;
		width: 100%;
	font-family: 'roboto', Arial, sans-serif;
	font-size: 5px;
	letter-spacing: 0.2;
	font-weight: 100;
	margin: 0;
	}
}